<%= form_with(model: @user, remote: true) do |f| %>
  <div class="field">
    <%= f.label :password, "Password" %><br />
    <%= f.password_field :password, :autocomplete => "off",:required => true  %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :required => true %>
  </div>
  <div class="action_container">
    <%= f.submit %>
  </div>
<% end %>