<div class="card">
  <div class="card-header d-flex">
    <div class="col-lg-3">
    	<% if @user.image.present? %>
        <%= image_tag @user.image.url, class: "rounded-circle shadow-1-strong me-3", style: "width: 60px; height: 60px;"%>
        <% else %>                
       <img class="rounded-circle shadow-1-strong me-3"
        src="<%= asset_path("avatar.png")%>" alt="avatar" width="60" height="60" />	
      <% end %>    
      <p>
       <strong>        
        <%=  @user.first_name %>
				<%=  @user.last_name %>
       </strong>
      </p>
    </div>
    <div class="d-flex mt-4 col-md-3">
      <p class="col-md-9">
        <strong>posts:</strong>
        <%= @user.posts.count	%>
      </p>
      <p class="col-md-7">
        <strong>Following:</strong>
         <%= @user.follows.count %>
      </p>
      <p class="col-md-7">
        <strong>Followers:</strong>
        <%= Follow.where(following_id:@user.id).count %>
        <%# end %>
      </p>

      <p class="col-md-9">
       <strong>Email:</strong>
        <%=  @user.email %>
      </p>
    </div>   
  </div> 
  <div class="card-body">
   <p>
   	<% @user.posts.each  do |post| %>
      <% if post.pictures.any? && post.pictures.last.image.present? %>        
	        <%= image_tag post&.pictures&.last&.image.url, style: "width: 300px; height: 300px; padding-right: 8px;" %>
        <% else %>        
	        <img src="<%= asset_path("imageleptop.jpeg")%>" alt="avatar", style="width: 200px height: 200px; padding-right: 8px;" />
      <% end %>   
    <% end %>
    </p>       
  </div> 
</div>
<div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
  <div class="float-end me-3">										
	  <%= link_to 'Back', :back, class: "w3-button w3-black btn-rounded" %>    
	</div>      
  <div class="d-grid gap-2 col-6 mx-auto">
  	<% if Follow.find_by(user_id:current_user.id, following_id: @user.id).present? %>
		  <%= link_to 'Unfollow', unfollow_path(@user, follow_by: "show_page"), class: "w3-button w3-red btn-rounded" %>
		<% else %>
			<%= link_to 'Follow', follow_path(@user, follow_by: "show_page"),class:"w3-button w3-green btn-rounded" %>
		<% end %>			
	</div>
</div>
