<div class="FlashNotice">
  <% flash.each do |key, value| %>
    <%= value %>  
  <% end %>
</div>
<% resource = User.new %>
<%= form_for(resource, as: resource,remote: true, url: session_path(resource)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class=" w3-container" action="/action_page.php">
    <div class="w3-section">
      <label><b>Enter Your Email</b></label>
      <div id="sign_in_error" style="color: red"></div>           
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your Email",type: "text", class: "w3-input w3-border w3-margin-bottom",:required => true%>        
      <label><b>Password</b></label>
      <div id="password_in_error" style="color: red"></div> 
      <%= f.password_field :password, autocomplete: "current-password", type: "password", placeholder: "Enter Password", class: "w3-input w3-border",:required => true %>
      <%= f.submit "Log in" , class: "w3-button w3-block w3-green w3-section w3-padding"%>

      <%# if devise_mapping.rememberable? %>
        <div type="checkbox" checked="checked" >
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <%# end %>
    </div>
  </div>
<% end %>
<div class="w3-container w3-light-grey w3-padding">
 <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
 <%#= link_to "Forgot your password?", new_password_path(resource_name),class: "w3-right w3-padding w3-hide-small" %>
 <button class="w3-right w3-padding w3-bar-item w3-button" onclick="openCity(event, 'Paris')">Forget password</button>
</div>
