<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @picture.post_id %>
</p>

<p>
  <strong>Image:</strong>
 <%= image_tag @picture.image.url, style: "width: 400px; height: 250px; " %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
