 
<div class="w3-container">  
  <div id="id012" class="w3-modal">
    <div class="w3-modal-content w3-card-4 w3-animate-zoom">
      <header class="w3-container w3-blue"> 
       <span onclick="document.getElementById('id012').style.display='none'" 
       class="w3-button w3-blue w3-xlarge w3-display-topright">&times;</span>
       <h2>Header</h2>
      </header>  
      <%= form_with(model: @post, local: true) do |form| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@post.errors.count, "error") %> prohibited this @post from being saved:</h2>
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="w3-container city">         
         <label><b>Username</b></label>
         <%= form.text_field :title ,class: "w3-input w3-border w3-margin-bottom", placeholder: "Title",:required => true %> 
         <label><b>Description</b></label>
         <%= form.text_area :description, class: "w3-input w3-border w3-margin-bottom",placeholder: "description", :required => true %>
           <label for="inputPassword" >Images:-</label>          
          <div>
           <%= form.file_field :image, multiple: true %>
          </div>
           <%= form.submit class: "w3-button w3-block w3-green w3-section w3-padding" %>         
        </div>
      <% end %>
      <div class="w3-container w3-light-grey w3-padding">
        <%= link_to 'Back', posts_path, class: "w3-button w3-right w3-white w3-border" %>       
      </div>
   </div>
  </div>
</div>
