<p id="notice"><%= notice %></p>

<!-- <h1>Posts</h1> -->
<!-- <p><%#= post.likes.count %> <%#= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p> -->

<table id="myTable">
  <thead>
    <tr class="header">
      <th style="width:25%;">user name</th>
      <th style="width:25%;">Title</th>  
      <th style="width:25%;">Description</th>
      <th colspan="3" style="width:25%;">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.user.user_name %></td>
        <td><%= post.title %></td>        
        <td><%= post.description %></td>
        <td><%= link_to 'Show', post, class: "w3-button w3-blue w3-padding-small" %></td>        
        <td>
          <div class="w3-dropdown-hover">
            <button class="w3-button w3-padding-small">Dropdown</button>
            <div class="w3-dropdown-content w3-bar-block w3-card">              
              <a href="#"><%= link_to 'Edit', edit_post_path(post), class: "w3-bar-item w3-button",remote: true %></a>
              <a href="#"><%= button_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "w3-bar-item w3-button" %></a>
            </div>
          </div> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Post', new_post_path, remote: true, class: "w3-button w3-green" %>
<div id="post-new"></div>
<div id="post-edit"></div>
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 70%;
  border-radius: 10px;
  font-size: 16px;
  padding: 12px 20px 8px 40px;
  border: 1px solid #ddd;
  margin-bottom: 14px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 7px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>

