<p id="notice"><%= notice %></p>

<p>
  <strong>Tittel:</strong>
  <%= @post.tittel %>
</p>

<p>
  <strong>user_id:</strong>
  <%= @post.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
