<!DOCTYPE html>
<html>
  <head>
    <title>InstagrameDummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application',media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"/> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <style type="text/css">
    .nav-link:hover{
      background-color: black;
      color: white; 
      transition: 1s;
    }
  </style>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><%= image_tag asset_path("Instagram-Icon.png"), style: "width: 30px; height: 30px;"%> Instagrame</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/posts">Posts</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/pictures">Pictures</a>
        </li>
      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto mb-9 mb-lg-0">
          <% if user_signed_in? %>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile(<%= current_user.user_name %>)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_out">Logout</a>
          </li>
          <% else %>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_up">Register</a>
          </li>
          <% end %>
        </ul>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
  </nav>    
    <div  class="container">
     <%= yield %>
    </div>
  </body>
</html>
