<!DOCTYPE html>
<html>
  <head>
    <title>InstagrameDummy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application',media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-2.1.1.js" type="text/javascript"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"/>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css"
      rel="stylesheet"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">    
  </head>
  <body>
    <style type="text/css">
      body{
        background-image:url('/assets/image7.jpg'); 
        background-size : cover;        
      }
    </style>
    <div class="navbar  w3-container">
      <div class="w3-bar w3-navbar-light bg-light w3-padding">
        <a class="w3-bar-item" href="/"><%= image_tag asset_path("Instagram-Icon.png"), style: "width: 30px; height: 30px;"%> Instagrame</a>         
        <a href="/users" class="w3-bar-item w3-button">Users</a>
        <a href="/posts" class="w3-bar-item w3-button">Posts</a>
        <div class="w3-dropdown-hover">
          <button class="w3-button">Dropdown</button>
          <div class="w3-dropdown-content w3-bar-block w3-card-4">
            <a href="/pictures" class="w3-bar-item w3-button">Pictures</a>         
          </div>
        </div>
        <div class="w3-right">
          <% if user_signed_in? %>
            <a class="w3-bar-item w3-button" href="/profile">Profile(<%= current_user.user_name %>)</a>
            <a class="w3-bar-item w3-button" href="/users/sign_out" >Logout</a>
          <% else %>
            <!-- <a class="w3-bar-item w3-button" href="/users/sign_in" >Login</a> -->
            <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button">Login</a>
            <!-- <a class="w3-bar-item w3-button" href="/users/sign_up">Register</a> -->
          <% end %>
        </div>
      </div>
    </div>
    <div  class="container">
    <div class="FlashNotice">
      <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> fade in">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <%= value %>
      </div>
      <% end %>
    </div>
     <%= yield %>
    </div>
  </body>
</html>

